/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Contenedor del título */
.titulo-container {
    text-align: center;
    margin: 20px 0;
    font-family: 'Great Vibes', cursive;
    font-size: 2rem;
    color: #a1925a;
}

/* Contenedor de la introducción */
.introduccion {
    text-align: center;
    margin: 20px auto;
    padding: 10px 20px;
    width: 90%;
    max-width: 600px;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fffbe6;
    border: 2px solid #C5B358;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Contenedor de la playlist */
.playlist-container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

/* Elementos de la lista */
#playlist {
    list-style: none;
}

.cancion-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0; /* Separación uniforme entre canciones */
    padding: 10px;
    background-color: white;
    border: 2px solid #C5B358;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    color: #555;
}

/* Estilo del texto */
.cancion-item span {
    font-size: 1rem;
    color: #333;
}

/* Ajustes del audio */
.cancion-item audio {
    width: 100%;
    max-width: 300px; /* Ajusta el ancho del control de audio */
}
